{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<div class="row">
	<div class="five columns offset-by-three">
		<p class="u-danger ">Your username and password didn't match.<br />Please try again.</p>
	</div>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}

<div class="row">
	<div class="four columns offset-by-three">
    {{ form.username.label_tag }}
    <input class="u-full-width" type="text" placeholder="user@email.com" {{ form.username }}
   </div>
</div>

<div class="row">
	<div class="four columns offset-by-three">
    <label>{{ form.password.label_tag }}</label>
    <input class="u-full-width" type="password" placeholder="password" {{ form.password }}
	</div>
</div>

<div class="row">
	<div class="two columns offset-by-three">
		<input class="button-primary" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}" />
	</div>
		{# Assumes you setup the password_reset view in your URLconf #}
		<a class="button" href="{% url 'accounts:password_reset' %}">Lost password?</a>
</div>

</form>



{% endblock %}
