{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<div class="row">
  <div class="five columns offset-by-four">
    <p class="u-danger ">Your username and password didn't match.<br/>Please try again.</p>
  </div>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}

<div class="row">
  <div class="four columns offset-by-four">
    <label for="id_username">Username:</label>
    <input class="u-full-width" id="id_username" maxlength="30" name="username" type="text" autofocus required>
  </div>
</div>

<div class="row">
  <div class="four columns offset-by-four">
    <label for="id_password">Password:</label>
    <input class="u-full-width" id="id_password" name="password" type="password" required>
  </div>
</div>

<div class="row">
  <div class="four columns offset-by-four">
    <input class="button-primary u-pull-right" type="submit" value="Login">
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</div>

</form>

<div class="row">
  <div class="three columns offset-by-three">
    <a href="{% url 'accounts:password_reset' %}">
      <button class="u-full-width">Reset Password</button>
    </a>
  </div>
  <div class="three columns">
    <a href="{% url 'accounts:register' %}">
      <button class="u-full-width">Register</button>
    </a>
  </div>
</div>

{% endblock %}
