{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="row">
Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
</div>

<form method="post">{% csrf_token %}
{% if form.errors %}
<div class="row">
  <div class="six columns offset-by-three u-danger">
  {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
  </div>
</div>
{% endif %}

<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_old_password">Old Password:</label>
    <input autofocus id="id_old_password" name="old_password" type="password" class="u-full-width" required>
    {{ form.old_password.errors }}
  </div>
</div>

<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_new_password1">New Password:</label>
    <input id="id_new_password1" name="new_password1" type="password" class="u-full-width" required>
    {{ form.new_password1.errors }}
  </div>
</div>

<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_new_password2">New Password Confirmation:</label>
    <input id="id_new_password2" name="new_password2" type="password" class="u-full-width" required>
    {{ form.new_password1.errors }}
  </div>
</div>

<div class="row">
  <div class="six columns offset-by-three">
    <input type="submit" value="Change Password" class="u-pull-right button-primary" />
  </div>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
{% endblock %}
