{% extends "base.html" %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}

{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">{% csrf_token %}
<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_new_password1">New password:</label>
    <input autofocus id="id_new_password1" name="new_password1" type="password" class="u-full-width" required>
    {{ form.new_password1.errors }}
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_new_password2">Confirm password:</label>
    <input id="id_new_password2" name="new_password2" type="password" class="u-full-width" required>
    {{ form.new_password2.errors }}
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <input type="submit" value="Change my password" class="button-primary u-pull-right" />
  </div>
</div>
</form>

{% else %}

<p class="u-danger">The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
