{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="row">
  <div class="ten columns offset-by-one">
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>
</div>

<form method="post">{% csrf_token %}
{{ form.email.errors }}
<div class="row">
  <div class="six columns offset-by-three">
    <label for="id_email">Email address:</label>
    <input id="id_email" maxlength="254" name="email" type="email" class="u-full-width" required />
  </div>
</div>
<div class="row">
  <div class="six columns offset-by-three">
    <input type="submit" value="Reset Password" class="u-pull-right button-primary" />
  </div>
</div>
</form>
{% endblock %}

