{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/skeleton.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
  </head>
  <body>

    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="{% url 'coupons:index' %}">Coupons</a>
        </li>
        <li style="float:right" class="navbar-item">
        {% if user.is_authenticated %}
  <div id="dropdwn">
     <div class="wrapper">
         <div class="content">
             <ul>
                 <a href="{% url 'accounts:logout' %}"><li>Logout</li></a>
                 <a href="{% url 'accounts:edit_profile' %}"><li>Edit profile</li></a>
             </ul>
         </div>
         <div class="parent">Hello {{ request.user.first_name }}</div>
     </div>
       <!-- This is for hover 
          <div class="dropdown">
            <button class="dropbtn">Hello {{ request.user.first_name }}</button>
               <div class="dropdown-content">
                  <a href="{% url 'accounts:logout' %}">Logout</a>
                  <a href="{% url 'accounts:edit_profile' %}">Edit profile</a>
               </div>
         </div> -->
        {% else %}
          <a class="navbar-link" href="{% url 'accounts:login' %}">
            <button class="button-primary">Login / Register</button>
          </a>
        {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
