{% extends "base.html" %}
{% block title %}Create Coupon{% endblock %}
{% block content %}
<form method="post" action=".">
{% csrf_token %}
{{ form.non_field_errors }}
  <div class="row">
    <div class="six columns">
      <label for="id_title">Coupon Title</label>
      <input class="u-full-width" id="id_title" name="title" type="text" placeholder="Title" required>
      {{ form.title.errors }}
    </div>
    <div class="six columns">
      <label for="id_code">Coupon Code</label>
      <input class="u-full-width" id="id_code" name="code" type="text" placeholder="Code" required>
      {{ form.code.errors }}
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label for="id_description">Description</label>
      <textarea class="u-full-width" id="id_description" name="description" type="text" placeholder="Coupon Description" required style="max-height: 30px; max-width: 100%;"></textarea>
      {{ form.description.errors }}
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label for="id_publish_date">Publish Date</label>
      <input class="u-full-width" id="id_publish_date" name="publish_date" type="date" required>
      {{ form.publish_date.errors }}
    </div>
    <div class="six columns">
      <label for="id_expire_date">Expire Date</label>
      <input class="u-full-width" id="id_expire_date" name="expire_date" type="date" required>
      {{ form.expire_date.errors }}
    </div>
  </div>
  <div class="row">
    <div class="tewelve columns">
      <label for="id_terms">Terms and Conditions</label>
      <textarea class="u-full-width" id="id_terms" name="terms" type="text" placeholder="Terms and Conditions" required style="max-width: 100%;"></textarea>
      {{ form.terms.errors }}
    </div>
  </div>
  <input class="u-pull-right" type="submit" value="Create Coupon" />
</form>
{% endblock %}
