{% extends "base.html" %}

{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="row">
  <div class="six columns">
    <h4>{{ coupon.title }}</h4>
    <p>Published on: {{ coupon.publish_date }}</p>
    <p>Expires in: {{ coupon.expire_date|timeuntil }}</p>
    <p>Offer provided by: {{ coupon.owner }}</p>
    <p>Description: {{ coupon.description }}</p>
  </div>
  <div class="four columns offset-by-one">
    <img class="u-full-width" src="/{{coupon.qr.url}}"/>
  </div>
</div>
<div class="row">
  <h5>Terms and Conditions</h5>
  <pre><code class="terms">{{coupon.terms}}</code></pre>
</div>
{% if request.user == coupon.owner %}
{% for user in coupon.claimants.all %}
<div class="row">
  <div class="six columns">
    <p>Claimed by: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Date of Birth: {{ user.date_of_birth }}</p>
    <p>Phone Number: {{ user.phone_number }}</p>
    <p>Email ID: {{ user.email }}</p>
  </div>
</div>
{% endfor %}
{% else %}
<form action="{% url 'coupons:claim' coupon.id %}" method="post">
{% csrf_token %}
<input class="u-pull-right" type="submit" value="Claim!"/>
</form>
{% endif %}
{% endblock %}
